@font-face {
  font-family: 'LeagueGothicCondensed';
  src: url('LeagueGothic-CondensedRegular.otf');
  src: url('https://s3-us-west-1.amazonaws.com/brand-activate/LeagueGothic-CondensedRegular.otf') format('opentype');
};
